* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2 {
  text-align: center;
  margin: 1em 0 0.5em;
}

header p {
    text-align: center;
}

p {
  text-align: justify;
}

header {
  max-width: 400px;
  margin: 0 auto;
}

main,  header{
    padding: 0 1em
}

main {
    gap: 2em;
}

@media (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2em;
  }
}

@media (min-width: 1024px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1440px) {
  main {
    grid-template-columns: 1fr 2fr 1fr;
  }
}
